@font-face {
    font-family: roboto;
    src: url(ressources/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: raleway;
    src: url(ressources/fonts/raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(ressources/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

/*----------GENERAL----------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: roboto;
    scroll-behavior: smooth;
    background-color: #1a1a1a;
    color: #FFF;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
}

/*----------HEADER----------*/
.header-flexbox{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/*----------TITLE BOX----------*/
.title-flexbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-title{
    height: 60px;
    margin: 0 10px;
}

#divider-title{
    width: 2px;
    height: 50px;
    background-color: #FFF;
    border: none;
}

#text-title{
    font-size: 25px;
    font-family: montserrat;
    margin: 0 10px;
}

/*----------NAVBAR----------*/
.navbar-flexbox{
    display: flex;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-options li{
    display: inline-block;
    padding: 0 20px;
}

#navbar-options li a{
    font-family: montserrat;
    font-size: 15px;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}

#navbar-options li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2d96ff;
    transition: width 0.25s ease-out;
}

#navbar-options li a:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}

#button-header{
    font-family: montserrat;
    font-size: 15px;
    margin:  0 33px;
    padding: 12px 30px;
    background-color: #005f96;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

#button-header:hover{
    background-color: #2d96ff;
    transform: scale(1.12);
}