@font-face {
    font-family: roboto;
    src: url(ressources/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: raleway;
    src: url(ressources/fonts/raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(ressources/fonts/Montserrat/static/Montserrat-Medium.ttf);
}

/*----------GENERAL----------*/
*{
    margin: 0;
    padding: 0;
    /*to modify padding without affecting width*/
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
    /*to modify paffing witjout affecting width*/
    list-style: none;
    text-decoration: none;
    font-family: roboto;
    scroll-behavior: smooth;
    background-color: #005f96;
    color: #FFF;
}

body{
    overflow-x: hidden;
    max-width: 1920px;
}

/*----------HEADER----------*/
.header-flexbox{
    /*REMOVE PADDING AND BG COLOR
    padding: 5px;
    background-color: blue;
    REMOVE PADDING AND BG COLOR*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    margin: 0px 0px 75px 0px;
}

.header-flexbox *{
    background-color: #1a1a1a;
}

/*----------SCROLL UP BUTTON----------*/
#scroll-up-button{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background-color: #989898;
    box-shadow: 0px 0px 5px #000;
    transition: all 0.3s ease 0s;
}

#scroll-up-button:hover{
    transform:scale(1.1);
}

#scroll-up-button:active{
    transform: scale(1);
}

/*----------TITLE BOX----------*/
.title-flexbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-title{
    height: 60px;
    margin: 0 10px;
}

#divider-title{
    width: 2px;
    height: 50px;
    background-color: #FFF;
    border: none;
}

#text-title{
    font-size: 25px;
    font-family: montserrat;
    margin: 0 10px;
}

/*----------NAVBAR----------*/
.navbar-flexbox{
    display: flex;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar-options li{
    display: inline-block;
    padding: 0 20px;
}

#navbar-options li a{
    font-family: montserrat;
    font-size: 15px;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}

#navbar-options li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2d96ff;
    transition: width 0.25s ease-out;
}

#navbar-options li a:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}

#button-header{
    font-family: montserrat;
    font-size: 15px;
    margin:  0 33px;
    padding: 12px 30px;
    background-color: #005f96;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#button-header:hover{
    background-color: #2d96ff;
    transform: scale(1.12);
}

#button-header:active{
    transform: scale(1);
}

/*----------CONVERSION ZONE----------*/
.container-conversion-zone{
    display: flex;
    justify-content: center;
}

.conversion-form{
    height: 300px;
    width: 1000px;
    background-color: #1a1a1a;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 10px #FFF;
}

.conversion-form form{
    display: flex;
    flex-direction: column;
}

.conversion-zone{
    width: 1000px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conversion-form form{
    width: 800px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.conversion-form input{
    border-style: solid;
    border-width: 1px;
    border-color: #989898;
    border-radius: 10px;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0 15px;
}

.container-label-input{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 7px;
}

.conversion-label{
    background-color: transparent;
    padding: 0px 5px;
}

.conversion-form input textarea:focus, input:focus{
    outline: none; /*remove ugly borders set by chrome*/
}

.conversion-form input:focus{
    border-color: #2d96ff;
}

#number-to-convert-input{
    height: 60px;
    width: 300px;
}

.base-input{
    height: 60px;
    width: 100px;
    text-align: center;
}

#invert-bases-button{
    cursor: pointer;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border-style: none;
    border-width: 1px;
    border-color: #989898;
    border-radius: 20%;
    margin: 0px -110px -30px -110px;
    font-size: 20px;
    font-family: montserrat;
    text-align: center;
    transition: all 0.2s ease 0s; 
}

#invert-bases-button:hover{
    transform: scale(1.07);
    background-color: #2d96ff;
    position:relative;
}

#invert-bases-button:active{
    transform: scale(1);
}

.buttons-zone{
    background-color: transparent;
    width: 1000px;
    padding: 0px 135px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#submit-button{
    cursor: pointer;
    background-color: #2d96ff;
    height: 50px;
    width: 150px;
    border-radius: 13px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease 0s;
}

#reset-button{
    cursor: pointer;
    background-color: #005f96;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 13px;
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

#submit-button:hover{
    transform: scale(1.07);
    position:relative;
}

#submit-button:active{
    transform: scale(1);
}

#reset-button:hover{
    transform: scale(1.07);
    position:relative;
}

#reset-button:active{
    transform: scale(1);
}

/*----------SUITE DU SITE----------*/

.test{
    background-color: #1a1a1a;
    margin: -100px 0px 0px 0px;
    width: 100%;
    height: 800px;
}